@import url("https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.5s;
}
body {
  min-height: 100vh;
  background: #020019;
}
code {
  font-family: "Courier New", monospace;
}
.asd {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
}
.sig {
  color: #1dcf9f;
  opacity: 0.8;
  float: right;
  text-decoration: none;
}
.dsa {
  background: rgba(248, 252, 3, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  border: none;
}
.asda {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(5px);
  border: none;
}
.sd {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}
.gose {
  float: right;
  animation: mover 2s infinite alternate;
}
@keyframes mover {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.navigation {
  position: fixed;
  width: 74px;
  height: 100%;
  background: #071348;
  transition: 0.5s;
  overflow: hidden;
}
.navigation:hover,
.navigation.active {
  width: 250px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover {
  background: #020019;
  border-radius: 10px 0 0 10px;
}
.navigation ul li a {
  position: relative;
  display: none;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .fa {
  font-size: 24px;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #071348;
  cursor: pointer;
}
.toggle.active {
  background: #541dea;
}
.toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.toggle.active::before {
  content: "\f00d";
}
@media (max-width: 767px) {
  .navigation {
    left: -60px;
  }
  .navigation.active {
    left: 0px;
    width: 100%;
  }
}
